.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



@media screen and (min-width: 600px) {
  .mainTragonautas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    height: 100%;

    margin: auto;

  }
}

@media screen and (max-width: 600px) {
  .mainTragonautas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}

.bannerTragonautas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  padding: 50px 0px 50px 0px;
  background-image: url('./images/tmpg067e4e_.png');
  background-size: 100%;

}

.instagram {}


.insta {
  width: 150px;
  border-radius: 50%;



}

@media screen and (max-width: 600px) {
  .insta {
    width: 100px;
    border-radius: 50%;


  }
}
@media screen and (min-width: 601px) {
  .insta {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;


  }
}
.whatsapp {}

.wsapp {
  width: 120px;

}

@media screen and (min-width: 601px) {
  .wsapp {
    width: 90px;
    border-radius: 50%;
    margin-left: 50px;



  }
}

@media screen and (max-width: 600px) {
  .wsapp {
    width: 90px;
    border-radius: 50%;


  }
}

.containerLogoTragonautas {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
}


.logoTragonautas {
  width: 350px;
  border-radius: 100%;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .logoTragonautas {
    width: 150px;

  }
}

.boddyTragonautas {
  text-shadow: 0px 0px 4px rgb(0, 110, 255);
  text-decoration-line: underline;
  color: rgb(255, 255, 255);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .boddyTragonautas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: calc(50% - 0px);
    flex-direction: row;
    flex-grow: 1;
    width: 100%;

  }
}

.centeringContainer{
  display: grid;
  justify-content: space-evenly;
 grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 300px)
  );
  width: 100%;
  height: 100%;
  gap: 5px;
 
}

@media screen and (max-width: 600px) {
  .centeringContainer{
    display: grid;
   grid-template-columns: repeat(
      auto-fit,
      minmax(45%, 1fr)
    );
    gap: 10px;

  }
  }


.tragosContainer {

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #77117a;
  background-size: 100%;

}

@media screen and (min-width: 600px) {
  .tragosContainer {
    flex-basis: calc(25% - 20px);


  }
}

@media screen and (max-width: 600px) {
  .tragosContainer {
    background-color: #77117a;

  }
}

.fotoTragos {
  width: 100%;
  height: 100%;
border-radius: 8px;
}


.tragosContainer:hover {
  box-shadow: 0px 5px 20px #9f82bd;}

.telefono{
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 4px rgb(136, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  background-color: #5C469C;
  border-top: 2px solid #D4ADFC;
  border-bottom: 3px solid #D4ADFC;
  margin-bottom: 5px;

}
@media screen and (max-width: 600px) {
  .telefono{
    font-size: 1rem;

  }
}