.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App2{
  width: 100%;
}
.App-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*padding: 0px 15px 0px 15px;*/
}

.ralenti-menu-header {
  display: flex;
  flex-grow: 1;
  height: 150px;
  padding: 10px 0px 0px 0px;
  justify-content: center;
  background-image: radial-gradient(circle at center, #d1d1e6, #b8b8cc);
  border-radius: 0px 0px 10px 10px;
  width: 100%;

}

.ralenti-menu-header-admin{
  display: flex;
  flex-grow: 1;
  height: 150px;
  padding: 10px 0;
  justify-content: center;
  background-image: radial-gradient(circle at center, #b8b8b8, #969696);
}

@media screen and (max-width: 600px) {
  .ralenti-menu-header {
    height: auto; /* Ajustar la altura automáticamente */
  }
}

@media screen and (min-width: 1050px) {
  .ralenti-menu-header {
    width: 1000px;
  }
}

.ralenti-logo {
  height: 100%;
  width: auto; /* Permitir el ajuste automático del ancho */
  max-width: 90%; /* Establecer el ancho máximo al 100% */
}

@media screen and (max-width: 600px) {
  .ralenti-logo {
    max-height: 50vh; /* Establecer el ancho máximo al 50% de la altura del viewport */
  }
}

@media screen and (min-width: 600px) {
  .ralenti-menu-body {
    max-width: 100%;
  }
}

.ralenti-menu-body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.relenti-menu-element {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background-color: #ff9500;
  margin: 10px;
  border-radius: 10px;
  min-height: 100px;
  width: 50%;
  min-width: 400px;
  max-width: 850px;
  border-bottom: 5px solid #947d5bbd;
  box-shadow: 1px -1px 15px #979590bd;
}

@media screen and (max-width: 600px) {
  .relenti-menu-element {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    min-width: 350px;
    width: 100%; /* Establecer el ancho al 100% */
    max-height: 150px;
  }
}

.ralenti-menu-image {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  background-color: #beb296;
  border-radius: 0 0 0 10px;
  box-shadow: inset 1px -1px 15px #947d5bbd;
}

@media screen and (max-width: 600px) {
  .ralenti-menu-image {
    border-radius: 0;
    min-width: 100px; /* Ajustar el ancho mínimo */
    max-width: 100px; /* Ajustar el ancho máximo */
  }
}

.ralenti-menu-image-menu {
  max-width: 150px;
  max-height: 150px;
}
