html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  min-width: 350px;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-color: #fffbf5;

background-size: 15%;
background-repeat: repeat;

}

/*#170f29 para el bc*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}