body {

  align-items: center;
  min-height: 100%;
  min-width: 350px;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
background-color:  rgb(17 4 18);
background-image: url('./images/background-of-hand-drawn-star-seamless-pattern-free-vector.png');
background-size: 15%;
background-repeat: repeat;

}

/*#170f29 para el bc*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}