.menu {
  text-align: center;
  align-items: center;
  height: 100%;
  min-width: 250px;
}

@media screen and (min-width: 701px) {
  .menu {
    min-width: 700px;
  }
}

.menu h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.category-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.category-button {
  width: 60%;
  font-size: 1.2rem;
  padding: 10px 0;
  background-image: radial-gradient(circle at center, #590a67, #453899);
  border: none;
  border-radius: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  margin: 10px auto 0px auto;
  color: whitesmoke;
}

@media screen and (max-width: 700px) {
  .category-button {
    width: 100%;

  }
}


.category-button.active {
  background-image: radial-gradient(circle at center, #7b41bd, #009e28);
  color: aliceblue;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
  gap: 5px;
  margin-bottom: 10px;
  max-height: 0; /* Inicialmente, los items estarán ocultos */
  overflow: hidden; /* Oculta el contenido que sobrepasa el límite del elemento */
  animation: fadeInItems 0.5s ease;
  animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}

@keyframes fadeInItems {
  0% {
    background-image: radial-gradient(circle at center, #a75c9721, #290f4700);
    max-height: 0; /* Empieza con altura 0 para ocultar los items */
    opacity: 0; /* Empieza con opacidad 0 para que sean invisibles */
  }
  100% {
    background-image: radial-gradient(circle at center, #a75c979d, #290f4700);
    max-height: 100%; /* Altura máxima cuando la categoría está seleccionada */
    opacity: 1; /* Opacidad 1 para hacer los items visibles */
  }

}
@keyframes backgroundFade {
  0% {
    background-image: radial-gradient(circle at center, #a75c9721, #290f4700);

  }
  100% {
    background-image: radial-gradient(circle at center, #a75c97b7, #290f4785);
  }

} 


.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A4A7A9;
  width: 100%;
  max-width: 700px;
  border-bottom: solid 3px #f3edd4;
  box-shadow: #363636 0px 0px 15px;
}

@media screen and (max-width: 600px) {
  .menu-item {
    width: calc(100% - 10px);
    max-width: 700px;
    min-width: 250px;
  }
}

.image-container {
  width: 40%;
  height: 150px;
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-image-mini {
  width: 100px;
  height: 100px;
}

.add-item {
  display: flex;
  flex-direction: column;
  background-color: #a9b8d8;
  border: dashed #8b826b 3px;
  margin: 20px 0;
  width: 50%;
  padding: 10px;
}

.update-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-item-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: rgb(34, 0, 0);
  width: 100%;
  background-image: radial-gradient(circle at center, #83b654, #b6b300);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (max-width: 401px) {
  .item-details{
    font-size: 1em;

  }
}

.slider-container{
  align-content: center; 
  align-items: center;
  max-width: 500px;
  max-height: 300px;
  overflow: hidden;
}


.slider {
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
}


.slider2{
  background-image: url('./images/tmpg067e4e_.png');
  background-color: red;
  height: 200px;
}

.margenbajo{
  margin-bottom: 2px;
  background-image: radial-gradient(circle at bottom, #eadbff, #cebfe9);
  border-radius: 10px;

}
.margenbajotitle{
  margin-bottom: 2px;
  background-image: radial-gradient(circle at bottom, #8d69ad, #405534);
width: 100%;  
}
.boxinfo{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 40%;
  margin-bottom: 2px;
}

.item-details .item-name {

  font-size: 2rem;
  font-weight: bold;
  color: #f3f3f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 10px rgb(31, 31, 31);
}

.item-details .price {
  font-weight: bold;
  font-size: 1.5rem;
}

.item-details .description {
  font-size: 1.5rem;
}

.menuTitle {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 30px;
}

.menu-editor {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.menu-editor form {
  margin-bottom: 20px;
}

.menu-editor form input[type="text"],
.menu-editor form button {
  padding: 10px;
  margin-right: 10px;
}

.menu-editor .category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu-editor .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.menu-editor .menuTitle input {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-editor .category-button {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #b6b6b6;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu-editor .category-button.active {
  background-color: #ccc;
}

.menu-editor .item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
  gap: 5px;
  margin-bottom: 10px;
}

.menu-editor .menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8cba9;
  width: 100%;
  max-width: 700px;
  border: groove rgb(173, 173, 173) 5px;
  border-top: dashed rgb(133, 131, 131) 5px;
}

.menu-editor .image-container {
  width: 40%;
  height: 150px;
  overflow: hidden;
}

.menu-editor .item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.menu-editor .item-details {
  align-items: right;
  text-align: center;
  width: 100%;
  max-height: 150px;
}

.menu-editor .item-details .item-name {
  font-size: 2rem;
  
}

.menu-editor .item-details .price {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-editor .item-details .description {
  font-size: 1.5rem;
}

.item-editor {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-editor input[type="text"],
.item-editor button {
  padding: 10px;
  margin-bottom: 10px;
}

.item-editor button {
  background-color: #b6b6b6;
  border: none;
  border-radius: 8px;
}

.item-editor button:hover {
  background-color: #ccc;
}

.whatsapp {
  padding-top: 10px;
  background-image: radial-gradient(circle at center, #c01c4b, #860c2f);

  min-height: 50px;
  font-size: 30px;
  z-index: -1;
  width: 100%;
}

.wsapplogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0px 0px 5px #797979);

}


.quilmes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  color: rgb(68, 68, 68);
  width: 90%;
  height: 40px;
  background-color: #b4b8c5;
  font-size: 150%;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.quilmes-home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  color: rgb(240, 240, 240);
  height: 50px;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .quilmes-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    color: rgb(68, 68, 68);
    height: 50px;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    white-space: nowrap;
  }
}

.telefono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  color: rgb(240, 240, 240);
  width: 90%;
  height: 50px;
  background-color: #b4b8c5;
  font-size: 150%;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);

}
.header-home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(240, 240, 240);
  width: 100%;
  background-image: url('./images/tmpg067e4e_.png');

  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.dire{
  color: rgb(255, 255, 255);
}

.telefono-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  color: rgb(240, 240, 240);
  width: 100%;
  height: 50px;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(124, 114, 69);

}





.item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.edit-button:hover {
  background-color: rgb(140, 207, 140);
}

.delete-button:hover {
  background-color: rgb(207, 140, 140);
}

.inputedit{
  width: 190px;
}

.pass-button {
  margin-top: 15px;
  width: 100px;
  height: 30px;
  background-image: linear-gradient(to bottom, #d1d1d1, #aad6ac);
  cursor: pointer;
  border-radius: 10px;
}

.pass-button:hover {
  background-color: rgb(83, 211, 111);
  background-image: none;
}


.add-category-button {
  width: 280px;
  height: 25px;
  background-image: linear-gradient(to bottom, #d1d1d1, #9fb8c4);
  border: 0px;
  cursor: pointer;
  margin-top: 10px;
}

.add-category-button:hover {
  background-color: rgb(83, 211, 111);
  background-image: none;
}

.category-section {
  width: 70px;
}

.category-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.width100 {
  width: 190px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tragonautas-menu-header {
  background-image:url('./images/tmpg067e4e_.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 10px 0;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.tragonautas-menu-header-admin {
  display: flex;
  flex-grow: 1;
  height: 150px;
  padding: 10px 0;
  justify-content: center;
  background-image: radial-gradient(circle at center, #b8b8b8, #969696);
}

@media screen and (max-width: 600px) {
  .tragonautas-menu-header {
    height: auto;
  }
}


.tragonautas-logo {
  height: 200px;
  width: 200px;
  max-width: 90%;
}

.tragonautas-logo-home {
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
}

.testbg{
display: flex;
justify-content: center;
  width: 100%;
  background-image: radial-gradient(circle at center,rgba(255, 0, 0, 0.549),#a0607500);

}

.menurg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: radial-gradient(circle at center,#4d0091,#3c009dd2);
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: b;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
}

.informacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

@media screen and (max-width: 600px) {
  .tragonautas-logo {
    max-height: 50vh;
  }
}

@media screen and (min-width: 600px) {
  .tragonautas-menu-body {
    width: 100%;
  }
}

.tragonautas-menu-body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.relenti-menu-element {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background-color: #ff9500;
  margin: 10px;
  border-radius: 10px;
  min-height: 100px;
  width: 50%;
  min-width: 400px;
  max-width: 850px;
  border-bottom: 5px solid #947d5bbd;
  box-shadow: 1px -1px 15px #929790bd;
}

@media screen and (max-width: 600px) {
  .relenti-menu-element {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    min-width: 350px;
    width: 100%;
    max-height: 150px;
  }
}

.tragonautas-menu-image {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  background-color: #beb296;
  border-radius: 0 0 0 10px;
  box-shadow: inset 1px -1px 15px #947d5bbd;
}

@media screen and (max-width: 600px) {
  .tragonautas-menu-image {
    border-radius: 0;
    min-width: 100px;
    max-width: 100px;
  }
}

.tragonautas-menu-image-menu {
  max-width: 150px;
  max-height: 150px;
}

.inputItems{
  text-align: center;
}

.moto{
  width: auto;
  height: 40px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.fondo-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 15px;
}